
.containerQA1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    margin-top: 40px;
    background-image: url("https://res.cloudinary.com/dv7kzlqy6/image/upload/v1697483973/5219070_xs5tdt.jpg");
    background-size: cover;
  }
  
  .containerQA {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "poppins", sans-serif;
    color: #ba338a;
    width: 60%;
    background: rgba(246, 241, 245, 0.5);
    border-radius: 1rem;
    margin-bottom: 1rem;
  }

  .containerQA p{
    color: #ba338a;
    font-weight: 700;
    width: 100%;
  }

  .containerQA2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containerQA2 img {
    height: 600px;
  }
  
  @media (max-width: 768px) {
    .containerQA {
      width: 80%;
    }
    .containerQA1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .containerQA2 img {
      height: 400px;
    }
  }